$color-primary: hsl(0, 0%, 0%);
$color-secondary: hsl(0, 0%, 55%);
$color-light: hsl(0, 0%, 100%);
$color-dark: hsl(0, 0%, 41%);
$font-family-secondary: "Alata", sans-serif;
$font-family-primary: "Josefin Sans", sans-serif;
