$color-primary: hsl(0, 0%, 0%);
$color-secondary: hsl(0, 0%, 55%);
$color-light: hsl(0, 0%, 100%);
$color-dark: hsl(0, 0%, 41%);
$font-family1: 'Alata', sans-serif;
$font-family2: 'Josefin Sans', sans-serif;

*, *::after, *::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

img {
   max-width: 100%;
}

.bar {
   background-color: $color-light;
   height: 3px;
   width: 100%;
}

.brand-title {
   font-family: $font-family1;
   font-size: 1.8rem;
   margin-top: 2rem;
}

.container {
   margin: 0 auto;
   width: 88%;
}

.container-narrow {
   margin: 0 auto;
   width: 88%;
}

.container-narrow p {
   color: $color-secondary;
   font-family: $font-family1;
   line-height: 1.5;
   margin-top: 1.3rem;
   margin-bottom: 5rem;
   text-align: center;
}

.header {
   margin-bottom: 5rem;
}

.header-contents {
   position: absolute;
}

.header-contents.active {
   background-color:$color-primary;
   min-height: 100vh;
   position: absolute;
   width: 100vw;
}

.image-grid {
   display: flex;
   flex-direction: column;
   margin-top: 1.5rem;
   gap: 1.3rem;
}

.image-grid > div {
   position: relative;
}

.image-text {
   color: $color-light;
   font-family: $font-family2;
   font-size: 1.5rem;
   position: absolute;
   bottom: 1.4rem;
   left: 1.4rem;
   width: 35%;
}

.main-heading {
   border: 2px solid $color-light;
   color: $color-light;
   font-family: $font-family2;
   font-size: 2.5rem;
   font-weight: 300;
   margin-top: 10rem;
   padding: 1.4rem;
}

.main-heading.active {
   display: none;
}

.navbar {
   color: $color-light;
   display: flex;
   flex-direction: column;
}

.navbar-links {
   display: none;
}

.navbar-links.active {
   display: flex;
}

.navbar-links a {
   color: $color-light;
   font-family: $font-family2;
   display: block;
   padding: 1rem 0;
   text-decoration: none;
}

.navbar-links ul {
   list-style: none;
   margin-top: 5rem;
}

.non-header.active {
   display: none;
}

.secondary-heading {
   font-family: $font-family2;
   font-size: 2rem;
   font-weight: 300;
   margin-top: 2.7rem;
   text-align: center;
}

.toggle-btn {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 20px;
   position: absolute;
   right: 1.5rem;
   top: 2.7rem;
   width: 30px;
}

.toggle-btn.active .bar:nth-child(2) {
   opacity: 0;
}

.toggle-btn.active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
}

.toggle-btn.active .bar:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 769px) {
   .toggle-btn {
      display: none;
   }

   .navbar {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
   }

   .navbar-links {
      display: flex
   }

   .navbar-links ul {
      display: flex;
   }

   .navbar-links a {
      padding: .4rem .8rem;

   }

}

@media (min-width: 426px) {
   // .header {
   //    background-image: url('../../images/desktop/image-hero.jpg');;
   // }

}