@import "./resets";
@import "./variables";

body {
	max-width: 100%;
}

img {
	width: 100%;
}

.bar {
	background-color: $color-light;
	height: 3px;
	width: 100%;
}

.brand-title {
	font-family: $font-family-secondary;
	font-size: 1.8rem;
	margin-top: 2rem;
}

.brand-title a {
	color: $color-light;
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 85%;
	max-width: 1100px;
}

.container-narrow {
	margin: 0 auto;
	width: 88%;
}

.container-narrow p {
	color: $color-secondary;
	font-family: $font-family-secondary;
	line-height: 1.5;
	margin-top: 1.3rem;
	margin-bottom: 5rem;
	text-align: center;
}

.creation-imgs {
	display: flex;
	flex-direction: column;
	margin-top: 1.7rem;
	gap: 20px;
}

.creation-imgs img {
	transition: 0.4s;
	cursor: pointer;
}

.creation-imgs img:hover {
	transform: scale(1.05);
}

.creation-imgs > div {
	position: relative;
}

.creation-img-desktop {
	display: none;
}

.creations-section {
	padding-bottom: 10rem;
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.footer {
	background-color: $color-primary;
	color: $color-light;
	font-family: $font-family-secondary;
	padding: 2.5rem 0;
	text-align: center;
}

.footer-brand-title {
	font-size: 1.8rem;
}

.footer-copyright {
	color: $color-secondary;
	font-size: 0.8rem;
}

.footer-links {
	display: flex;
	flex-direction: column;
	font-weight: 300;
	justify-content: space-between;
	list-style: none;
	height: 11rem;
	margin: 2rem 0;
}

.footer-links a:hover {
	text-decoration: underline 2px;
	cursor: pointer;
}

.footer-social-links {
	display: flex;
	font-size: 1.5rem;
	justify-content: space-between;
	margin: 0 auto 0.7rem auto;
	width: 7.5rem;
}

.footer-social-links i {
	color: $color-light;
}

.header {
	margin-bottom: 5rem;
}

.header-contents {
	position: absolute;
	width: 100%;
	height: inherit;
}

.header-contents.active {
	background-color: $color-primary;
	min-height: 100vh;
	position: absolute;
}

.header-img-desktop {
	display: none;
}

.img-text {
	background: rgba(0, 0, 0, 0.404);
	bottom: 16px;
	color: $color-light;
	font-family: $font-family-primary;
	font-size: 1.5rem;
	left: 16px;
	width: 9rem;
	padding: 0.5rem;
	position: absolute;
}

.main-heading {
	border: 2px solid $color-light;
	color: $color-light;
	font-family: $font-family-primary;
	font-size: 2.2rem;
	font-weight: 300;
	margin-top: 9.5rem;
	padding: 0.6em;
}

.main-heading.active {
	display: none;
}

.navbar {
	color: $color-light;
	display: flex;
	flex-direction: column;
}

.navbar-links {
	display: none;

	a {
		color: $color-light;
		font-family: $font-family-primary;
		display: block;
		padding: 1rem 0;
		text-decoration: none;

		&:hover {
			text-decoration: underline 3px;
		}
	}

	&.active {
		display: flex;
	}

	ul {
		list-style: none;
		margin-top: 5rem;
	}
}

.non-header.active {
	display: none;
}

.secondary-heading {
	font-family: $font-family-primary;
	font-size: 2rem;
	font-weight: 300;
	text-align: center;
}

.toggle-btn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
	position: absolute;
	right: 7.5vw;
	top: 2.7rem;
	width: 30px;

	&.active .bar:nth-child(2) {
		opacity: 0;
	}

	&.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	&.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

@media (min-width: 576px) {
	.main-heading {
		font-size: 2rem;
		margin-top: 5vw;
		max-width: 300px;
	}

	.header-img-desktop {
		display: block;
	}

	.header-img-mobile {
		display: none;
	}
}

@media (min-width: 1024px) {
	.container-narrow p {
		margin-bottom: 0;
		text-align: left;
	}

	.container-narrow h2 {
		text-align: left;
	}

	.creation-imgs {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(4, 1fr);
	}

	.creation-img-mobile {
		display: none;
	}

	.creation-img-desktop {
		display: block;
	}

	.flex {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 8rem;
	}

	.flex > * {
		flex-basis: 100%;
	}

	.footer > .container {
		display: flex;
		justify-content: space-between;
	}

	.footer-links {
		flex-direction: row;
		height: 0;
		margin: 1rem 0 0 0;
	}

	.footer-link-item {
		margin-right: 1.5rem;
	}

	.footer-group-one {
		text-align: left;
	}

	.footer-social-links {
		margin: 0.5rem 0 1.5rem auto;
	}

	.image-text {
		width: 65%;
	}

	.toggle-btn {
		display: none;
	}

	.navbar {
		align-items: flex-end;
		flex-direction: row;
		justify-content: space-between;
	}

	.main-heading {
		font-size: 3rem;
		margin-top: 5rem;
		max-width: 450px;
	}

	.navbar-links {
		display: block;
	}

	.navbar-links ul {
		display: flex;
		margin-top: 0;
	}

	.navbar-links a {
		padding: 0.4rem 0.8rem;
	}

	.secondary-heading {
		max-width: 18rem;
	}
}

@media (min-width: 1440px) {
	.main-heading {
		font-size: 4rem;
		margin-top: 9rem;
		max-width: 600px;
	}
}
